{% extends "base.twig" %}
{% block title %}Jurassic Park{% endblock %}
{% block main %}
<div class="grid">
    <article>
        <h2>Discover the Brachiosaurus</h2>

        <div class="description">
            {{ data.description | raw }}
        </div>

        <div class="card">
            <img src="{{ data.avatar }}" alt="{{ data.slug }}" />
            <dl>
                <dt>Name</dt>
                <dd>{{ data.name }}</dd>
                <dt>Name meaning</dt>
                <dd>{{ data.name_meaning }}</dd>
                <dt>Diet</dt>
                <dd>{{ data.diet }}</dd>
                <dt>Height</dt>
                <dd>{{ data.height }} m.</dd>
                <dt>Length</dt>
                <dd>{{ data.length }} m.</dd>
                <dt>Weight</dt>
                <dd>{{ data.weight }} kg.</dd>
            </dl>
        </div>
    </article>

    <aside>
        <h3>Top rated dinosaurs</h3>
        {% for proposition in propositions %}
        <a href="http://localhost:8000/dinosaur/{{ proposition.slug }}">
            <figure>
                <img src="{{ proposition.avatar }}" alt="{{ proposition.slug }}" />
                <figcaption>Discover the {{ proposition.name }}</figcaption>
            </figure>
        </a>
        {% endfor %}
    </aside>
</div>
{% endblock %}