{% extends "base.twig" %}
{% block title %}Jurassic Park{% endblock %}
{% block main %}
<section>
    <h2>The world of Jurassic Park</h2>
    {% for dino in data %}
    <a href="http://localhost:8000/dinosaur/{{ dino.slug }}">
        <figure>
            <img src="{{ dino.avatar }}" alt="{{ dino.slug }}" />
            <figcaption>Discover the {{ dino.name }}</figcaption>
        </figure>
    </a>
    {% endfor %}
</section>
{% endblock %}